@charset "UTF-8";

@import url("font.css");

@-webkit-keyframes blink_admi {
    0% { background-color: #388EEE; }
  
    100% { background-color: #00336D; }
/*    from { background-color: red;}
    to {background-color: green;}  */
}
@keyframes blink_admi {
    0% { background-color: #388EEE; }
  
    100% { background-color: #00336D; }
/*    from { background-color: red;}
    to {background-color: green;}  */
}

@keyframes blink_admi2 {
    0% { background-color: #eec738; }
  
    100% { background-color: #00336D; }
/*    from { background-color: red;}
    to {background-color: green;}  */
}

/* layout */
.container{padding:110px 0 0 0;}
body.main-body .container.new{position:fixed;top:0;left:0;width:100%;}
.no-img{width:115px !important;}
#main-star .no-img{width:100%} 
/* common */
body{font-family:'Noto Sans KR',sans-serif;font-weight:200;font-size:15px;color:#333;line-height:1;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;}
a{color:#333;word-wrap:break-word;}
.hide{display:block;position:absolute;width:0;height:0;text-indent:-9999999px;overflow:hidden;}

/* header */
.header-new-wrap{position:fixed;top:0;left:0;z-index:30;width:100%;box-shadow:0px 2px 4px 0px;}
.top-header-new-wrap{position:relative;z-index:30;background:#003d91;}
.top-header-new-box{position: relative;margin: 0 auto;max-width: 1200px;text-align: center;}
.top-header-new-box:after{content:"";display:block;clear:both;}
.top-header-new-box > ul{display: inline-block;float: left;}
.top-header-new-box .top-logo{display: inline-block;float: left;padding: 13px 20px 12px 0;}
.top-logo a .logo-ico{margin:0 8px 0 0;}
.top-header-new-box .util-box-middle{margin-left: 15px; -webkit-animation: blink_admi 2.5s linear infinite;animation:blink_admi ease-in-out 2.5s infinite alternate;}
.top-header-new-box .util-box-middle2{margin-left: 15px; -webkit-animation: blink_admi2 2.5s linear infinite;animation:blink_admi2 ease-in-out 2.5s infinite alternate;}
.top-header-new-box .util-box-last{margin-left: 15px;-webkit-animation: blink_admi2 2.5s linear infinite;animation:blink_admi2 ease-in-out 2.5s infinite alternate;}/*margin-left:30px;*/
.top-btn-new-wrap .util-box-second > li{float:left;}
.top-btn-new-wrap .util-box-second > li > a{float:left;display: block;position: relative;z-index: 20;padding: 11px 15px 10px;font-size: 13px;line-height: 1;color: #fff;box-sizing: border-box;font-weight: 300;}
.top-btn-new-wrap .util-box-second > li > a:before{background-color: #ddd;content: "";display: block;position: absolute;left: -2px;top: 13px;width: 1px;height: 10px;}

.top-btn-new-wrap .util-box-second > li:nth-of-type(2){padding:0 20px 0 0;} 
.top-btn-new-wrap .util-box-second > li:first-child > a:before{display:none}
.top-header-new-box .top-btn-new-wrap {position: absolute;top: 0px;right: 0;}
.top-header-new-box .top-btn-new-wrap{position:absolute;top:0px;right:0;}
.top-header-new-box .top-btn-new-wrap > ul{float:left;position:relative;margin:8px 6px 0 0;}
.top-header-new-box .top-btn-new-wrap > ul li a.btn-language{background:url(/_res/ko/img/main/top-arr.gif) no-repeat center right;}
.top-header-new-box .top-btn-new-wrap > ul li .btn-language.active{background:url(/_res/ko/img/main/top-arr-on.gif) no-repeat center right;}
.top-header-new-box .top-btn-new-wrap .language-box {display:none;z-index: 999;width: 75px;height: auto;background-color: #003d91;padding:14px 0 10px;position: absolute;top: 37px;left: 71px;border-radius: 0 0 7px 7px;}
.top-header-new-box .top-btn-new-wrap .language-box ul li{padding: 0 0 7px 17px;text-align:left;}
.top-header-new-box .top-btn-new-wrap .language-box ul li a{color:#fff;font-size: 13px;}
.top-header-new-box .top-btn-new-wrap .language-box ul li a:hover{text-decoration:underline;}
.top-header-new-box .top-btn-new-wrap a.btn-main-cal{float: left;color: #fff;padding: 18px 24px 18px 50px;background: url(/_res/ko/img/main/bg-cal.gif) no-repeat 21px 19px;border-left: 1px solid #4d78b2;}
.top-header-new-box .top-btn-new-wrap a.btn-main-srch{float: left;color: #fff;padding: 18px 24px 18px 50px;background: url(/_res/ko/img/main/bg-srch-off.gif) no-repeat 21px 18px;background-color: #002f70;}
.top-header-new-box .top-btn-new-wrap a.btn-main-srch.active{float: left;color: #fff;padding: 18px 24px 18px 50px;background: url(/_res/ko/img/main/bg-srch-on.gif) no-repeat 26px 18px;background-color: #002f70;min-width:46px;}
.srch-bg{display:none;position:fixed;top:0;left:0;z-index:20;width:100%;height:100%;background:rgba(0,0,0,0.7);}

#site-search {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);margin: 0 auto;background-color: transparent;box-shadow: none;color: #fff;width: 100%;max-width:745px;text-align:center;}
#site-search > form {/*width:100%;*/position: relative;}
#site-search #search-type>* {display: inline;}
#site-search #search-type h2{padding:0 30px 0 0;    font-weight: 700;}
#site-search #search-type .search-btn-box{position:relative;padding:0 38px 0 0;}
#site-search #search-type .search-btn-box:last-of-type{padding:0;}
#site-search #search-type .radio-search{position:absolute;top:4px;width:16px;height:16px;}
#site-search #search-type .radio-search + label{position:relative;padding:0 38px 0 0;font-size:16px;color:#fff;}
#site-search #search-type .radio-search + label:before{content:"";display:inline-block;width:16px;height:16px;margin:-2px 6px 0 0;vertical-align:middle;background:#fff;cursor:pointer;border-radius:16px;}
#site-search #search-type .radio-search:checked + label:after{content:"";display:block;position:absolute;top:10px;left:4px;width:8px;height:8px;background:#003d91;border-radius:8px;}
#site-search #search-field {width: calc(66.6666666667% - 24.333333px);float: left;height: 48px;padding: 0 15px;border: 1px solid #dcdcdc;font-size: 16px;}
#site-search #search-type {position: relative;width: 100%;float: left;margin: 0 0 23px 0;}
#site-search p{padding: 120px 0 0 0;}
#site-search #search-type p > span{font-size:16px; color:#fff;}
#site-search p > a{font-size:16px; color:#fff;padding:0 0 0 10px;text-decoration:underline;}
#site-search button{padding: 12px 0px 11px;width: calc(33.3333333333% - 17.666667px);float: left;margin-left: 10px;background-color: #003d91;border: none;color: #fff;cursor: pointer;display: inline-block;font-weight: inherit;line-height: 1.5;text-align: center;text-decoration: none;transition: all .25s ease-in-out;-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;vertical-align: middle;font-size: 18px;font-weight: 400;}

body:not(.srch) .main-srch-new-wrap.active #site-search{color:#333;}
body:not(.srch) .main-srch-new-wrap.active #site-search p > a{color:#333}
body:not(.srch) .main-srch-new-wrap.active #site-search #search-type .radio-search + label{color:#333}
body:not(.srch) .main-srch-new-wrap.active #site-search #search-type .radio-search + label:before{border: 1px solid #cdcdcd;}
body:not(.srch) .main-srch-new-wrap.active #site-search #search-type .radio-search:checked + label:after{left:5px;}

.top-header-new-box > ul:after{display:block;clear:both;content:''}
.top-header-new-box > ul > li{float:left;position:relative;}
.top-header-new-box > ul > li:after{background-color: #7b7b7b;content: "";display: block;position: absolute;right: -2px;top: 23px;width: 1px;height: 10px;}
.top-header-new-box > ul > li:last-child:after{display:none;}
.top-header-new-box > ul > li.active > a{color:#fefefe;background-color:#003d91}
.top-header-new-box > ul > li > ul{display:none;position:absolute;top:35px;left:0;width:100%;text-align:center;z-index:10;}
.top-header-new-box > ul > li.active > ul{display:block;}
.top-header-new-box > ul > li > ul > li{display:inline-block;position:relative;width:91px;vertical-align:top;border-left:1px solid rgba(255,255,255,.18);border-right:1px solid rgba(255,255,255,.18);/*transition:height 1s;-webkit-transition:height 1s*/}
.top-header-new-box > ul > li > ul > li:not(:first-child){margin-left:-3px;border-left:0}
.top-header-new-box > ul > li > a{display: block; position: relative;z-index: 20;padding: 20px 15px 18px;font-size: 13px;line-height: 1;color: #fff;box-sizing: border-box;font-weight: 300;}
.top-header-new-box > ul > li > a.active:after{background-color: #ddd;content: "";display: block;position: absolute;bottom: 13px;width: 50%;height: 1px;right: 17px;}
.top-header-new-box > ul > li.last > a.active:after{background-color: #ddd;content: "";display: block;position: absolute;bottom: 13px;width: 50%;height: 1px;right: 17px;}

.top-header-new-box > ul > li > a.active{background-color:#002f70}
.top-header-new-box > ul > li:last-child > a:after{display:none;}

.top-header-new-box > ul > li > ul > li a span{display:block;margin-top:10px}
.top-header-new-box > ul > li > ul > li > a:hover, .top-header-new-box > ul > li > ul > li > a:focus, .top-header-new-box > ul > li > ul > li > a:active, .top-header-new-box > ul > li > ul > li.on > a{color:#002c68;background-color:#ffc6d7}
.top-header-new-box > ul > li > ul > li a:hover + .util-depth3{display:block;}
.top-header-new-box .util-depth3{display:none;position:absolute;left:-20px;width:100%;padding:20px;text-align:left;border-bottom-left-radius:15px;border-bottom-right-radius:15px;background-color:#ffc6d7;}
.top-header-new-box .util-depth3 li{padding-left:5px}
.top-header-new-box .util-depth3 li:not(:first-child){margin-top:10px}
.top-header-new-box .util-depth3 li a{position:relative;padding:0;color:#002c68;line-height:16px}
.top-header-new-box .util-depth3 li a:before{display:block;position:absolute;top:7px;left:-5px;width:2px;height:2px;background-color:#002c68;content:''}
.top-header-new-box .util-depth3 li a:after{display:block;position:absolute;top:4px;right:0;width:4px;height:8px;color:#274479;font-weight:500;background:url(/_res/ko/img/common/ic-arrow-right.png) no-repeat center;content:''}

.util-bg{display:none;position:relative;z-index:10;width:100%;height:92px;background-color:#003d91;}

.top-header-new-box .top-btn-new-wrap .btn-menu{display:none;padding:16px;}
.top-header-new-box .top-btn-new-wrap .btn-menu img{width:20px;}

body:not(.main-body) .main-srch-new-wrap, body.main-body:not(.srch) .main-srch-new-wrap{display:none;position:absolute;top:0;left:0;z-index:20;padding:28px 0;width:100%;height:auto !important;border: 1px solid #cdcdcd;background:#fff;;box-shadow: inset 2px 2px 6px 0px #b8b8b8;}
body:not(.main-body) .main-srch-new-wrap #site-search, body.main-body:not(.srch) .main-srch-new-wrap #site-search{position:relative;top:0;left:0;transform:none;}
body:not(.main-body) .main-srch-new-wrap #site-search #search-type, body.main-body:not(.srch) .main-srch-new-wrap #site-search #search-type{position:relative !important;}
body:not(.main-body) .main-srch-new-wrap form, body.main-body:not(.srch) .main-srch-new-wrap form{margin:0 auto;max-width:1200px;}
body:not(.main-body) .main-srch-new-wrap form fieldset, body.main-body:not(.srch) .main-srch-new-wrap form fieldset{padding:12px 0;text-align:center;}
body.main-body.srch .main-srch-new-wrap{display:none;position:absolute;    top: 0;left:0;width:100%;background:rgba(0,0,0,0.7);}
body.main-body.srch .main-srch-new-wrap.active{display:block;}
body.main-body.srch .main-srch-new-wrap #site-search{top: 300px;transition:top 1s;}
body.main-body.srch .main-srch-new-wrap.active #site-search{top:calc(50% + 25px);}
/*
body.main-body.srch .main-srch-new-wrap form{position:absolute;top:300px;left:50%;transform:translateX(-50%);-ms-transform:translateX(-50%);transition:top 0.5s ease;}
body.main-body.srch .main-srch-new-wrap.active form{top:50%;transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
*/
body.main-body.srch .main-srch-new-wrap form fieldset{text-align:center;}


body.main-body .quick-outer{display:none !important;}

body.srch .bottom-header-new-wrap .gnb-new-ul{display:none;}
.bottom-header-new-wrap{position:relative;transition:color 0.5s ease;}
.bottom-header-new-box{margin:0 auto;max-width:1200px;}
.gnb-new-ul{position:relative;text-align:center;}
.gnb-new-ul > li{display:inline-block;margin:0 -4px 0 0;}
.gnb-new-ul > li > a{display:inline-block;padding:15px 0;font-weight:400;font-size:20px;color:#333;line-height:25px;transition:color 0.5s ease;position:relative;}
.gnb-new-ul li.last a{font-style: italic;font-weight: bold;font-family: 'Cardo', serif;}
.gnb-new-ul > li.ico-webzine a{padding-left: 38px;background: url(/_res/ko/img/common/ico-webzine.png) no-repeat 0 50%;}
.gnb-new-ul > li.ico-lounge a{padding-left: 38px;background: url(/_res/ko/img/common/ico-lounge.png) no-repeat 0 50%;}
.gnb-new-ul > li > a:hover:after, .gnb-new-ul > li > a.active:after{display: block;content: "";clear: both;background-color: #003d91;width:100%;height:3px;position:absolute;bottom: -2px;left:50%;transform:translate(-50%);}
.gnb-new-ul > li > a span{color:#003d91}
body.srch .gnb-new-ul > li > a{color:#fff}
.sub-new-mn{display:none;position:absolute;top:55px;left:50%;z-index:10;padding:14px 0;width:100%;transform:translateX(-50%);-ms-transform:translateX(-50%);text-align:center;}

.sub-mn > li{display:inline-block;padding:0 20px 0 0;}
.sub-mn > li:last-of-type{padding:0;}
.sub-mn > li > a{color:#fff;}
.gnb-bg{display:none;position:absolute;top:55px;left:0;width:100%;background:#b1040e;}

body:not(.srch) .header-new-wrap .bottom-header-new-wrap{background:#fff;box-shadow: 2px 2px 6px 0px #b8b8b8;}
body:not(.main-body) .header-new-wrap .bottom-header-new-wrap {background: #fff;box-shadow: 2px 2px 6px 0px #b8b8b8;}
body:not(.main-body) .header-new-wrap .bottom-header-new-wrap .gnb-ul-new > li > a{color:#333;}
body.main-body .header-new-wrap .bottom-header-new-wrap:before{display: block;background: linear-gradient(0deg,transparent 0,#020202 75%);content: "";position: absolute;top: 0;bottom: -1.25em;left: 0;right: 0;opacity: .75;}
body.main-body .header-new-wrap.active .bottom-header-new-wrap:before{display:none;}
.header-new-wrap.active .bottom-header-new-wrap{background:#fff;}
.header-new-wrap.active .gnb-new-ul > li > a{color:#333}
.header-new-wrap.active .gnb-new-ul > li a span{color:#003d91}
.header-new-wrap.active .gnb-new-ul > li:last-child a{font-family: 'Cardo', serif;}

body:not(.main-body) .header-new-wrap:not(.active) + .main-intro-new-wrap{display:none;}
.main-intro-new-wrap{position:relative;z-index:25;}
.main-intro-img-new-box img{width:100%;height:100%;object-fit:cover;}
.main-intro-new-new-box{margin:0 auto;max-width:1200px;}
.main-intro-new-box p:nth-of-type(1){position:absolute;top:50%;left:50%;font-weight:500;font-size:50px;color:#fff;line-height:60px;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);text-shadow:4px 4px 8px rgba(0,0,0,0.8);}
.main-intro-new-box p:nth-of-type(2) a{position:absolute;bottom:0px;left:50%;font-size:30px;color:#fff;transform:translateX(-50%);-ms-transform:translateX(-50%);}
body:not(.main-body) .main-intro-new-box{display:none;}

body.main-body .intro-new-spacer{display:block;}
/*body.main-body header .header-new-wrap .bottom-header-new-wrap{display:none;}*/
.intro-new-spacer{display:none;position:relative;z-index:-10;visibility:hidden;}

/* SM팝업 */
.main-pop-outer{display:none;position:fixed;top: 370px;left:0;width:100%;z-index:20;transform:translateY(-50%);-ms-transform:translateY(-50%);}
.main-pop-outer.active{display:block;opacity:0;}
.main-pop-outer.show{opacity:1;}
.main-pop-outer.show + .main-pop-bg{display:block;}
.main-pop-wrap{position:relative;margin:0 auto;padding:80px 0 0 0;max-width:1200px;}
.main-pop-box{position:relative;}
.main-pop-box .owl-carousel{margin:0 auto;width:calc(100% - 80px);box-sizing:border-box;}
.main-pop-box .control-wrap{position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);}
.main-pop-box .control-wrap:after{content:"";display:block;clear:both;}
.main-pop-box .control-wrap a{width:22px;height:37px;}
.main-pop-box .control-wrap .prev{float:left;background:url(/_res/ko/img/main/btn-pop-prev.png) no-repeat 0 0/100%;}
.main-pop-box .control-wrap .next{float:right;background:url(/_res/ko/img/main/btn-pop-next.png) no-repeat 0 0/100%;}
.main-pop-wrap .main-pop-close{position:absolute;top:84px;right:40px;z-index:1;}
.main-pop-bg{display:none;position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.main-pop-cnt-box{color: #fff;position: absolute;top: 9px;left: 43px;font-size: 37px;font-weight: 400;letter-spacing: 5px;}

/* 모바일 SM팝업 */
.m-btn-pop-wrap{display:none;position:fixed;top:153px;right:0;}
.m-btn-pop-wrap.active{display:none;}
.m-btn-pop-wrap .m-btn-pop{display:block;padding:9px 8px;background:#002f70;color:#fff;text-align:center;border-radius:10px 0 0 10px;}
.m-btn-pop-wrap .m-pop-total{display: inline-block;margin: 10px 0 0 0;padding: 5px 8px 6px;font-size: 14px;font-weight: 500;border-radius: 13px;background:#f8f2ee;color:#333;}

/* 사이트맵 */
.sitemap-new-wrap{display:none;position:absolute;padding:200px 0 0 0;top:0px;left:0;width:100%;height:100vh;background:url(/_res/ko/img/common/bg-site.png) repeat 0 0;opacity: 1;}
.sitemap-new-box{height: 70%;border-radius: 15px;position: relative;margin: 0 auto;padding: 90px 40px;max-width: 1200px; background: #e3eaf5 url(/_res/ko/img/common/bg_sitemap.png) no-repeat;box-sizing: border-box;background-size: contain;}
.sitemap-new-box > div{height: 100%; overflow-y: scroll;}
.sitemap-new-box > div h1 {padding: 0 0 0 10px;font-size: 32px;font-weight: 500;}
.sitemap-new-box > div > ul{position: relative;padding: 40px 20px;}
.sitemap-new-box > div > ul > li {position: relative;display: block;padding: 0 0 30px 0;}
.sitemap-new-box > div > ul > li > a{display:block;margin:0 0 33px 0;font-weight:500;font-size:24px;color:#333;line-height:30px;position:relative;}
.sitemap-new-box > div > ul > li > a:after{ content: "";background-color: #857ace;position: absolute;width:100%;height: 2px;bottom: -15px;left: 0px;}
.sitemap-new-box > div > ul > li > ul{width:100%;display:table;}
.sitemap-new-box > div > ul > li > ul > li{font-size:14px;font-weight: 500;float: left;display: table-cell;width: 25%;margin: 0 0 20px 0;}
.sitemap-new-box > div > ul > li > ul > li a:before{content: "";background-color: #666;position: absolute;width: 4px;height: 4px;bottom: 12px;left: 0px;border-radius: 2px;}
.sitemap-new-box > div > ul > li > ul > li a{position: relative;font-weight: 400;font-size: 20px;color: #555;line-height: 25px;padding: 0 0 0 10px;}
.sitemap-new-box > div > ul > li > ul > li a:hover,.sitemap-new-box > ul > li ul li a:focus, .sitemap-new-box > ul > li ul li a:active{color:#e75581;}
.sitemap-new-box > div > ul > li > ul > li > ul{padding:10px 0 20px 10px;}
.sitemap-new-box > div > ul > li > ul > li > ul > li a{font-size:15px;font-weight:300;}
.sitemap-new-box > div > ul > li > ul > li > ul > li a:before{content: "";background-color: #666;position: absolute;width: 6px;height: 1px;top:10px;left: 0px;}
.sitemap-new-close{position: absolute;top: 40px;right: 40px;}
.sitemap-new-close img{width:30px}

/* 퀵메뉴 */
.quick-menu-wrap{position:fixed;top:153px;right:0;z-index:40;cursor:pointer;}
.header-wrap.active + .quick-menu-wrap{top:137px;}
.quick-menu-wrap{display:none;}

body.on:after {content: "";display: block;position: fixed;top: 0;left: 0;z-index: 10;width: 100%;height: 100%;background: rgba(0,0,0,0.8);}
.quick-open ul:first-child li{position: relative;text-align: center;padding: 16px 0px 16px 35px;background-color: #003d91;border-bottom: 1px solid #615eb6;}
.quick-open ul:first-child li:hover{background:#002f70;}
.quick-open ul:first-child li:before{content: "";display: block;width: 29px;height: 30px;position: absolute;top: 12px;left: 16px;}
.quick-open ul:first-child li:nth-of-type(1){border-radius:10px 0 0 0;}
.quick-open ul:first-child li:nth-of-type(1):before{background:url(/_res/ko/img/common/ic-quick01-10.png) no-repeat 0 0/100%;background-size:20px;}
.quick-open ul:first-child li:nth-of-type(2):before{background:url(/_res/ko/img/common/ic-quick01-20.png) no-repeat 0 0/100%;background-size:15px;}
.quick-open ul:first-child li:nth-of-type(3):before{background:url(/_res/ko/img/common/ic-quick01-30.png) no-repeat 0 5px/100%;background-size:20px;}
.quick-open ul:first-child li:nth-of-type(4):before{background:url(/_res/ko/img/common/ic-quick01-40.png) no-repeat 0 5px/100%;background-size:20px;}
.quick-open ul:first-child li:nth-of-type(5):before{background:url(/_res/ko/img/common/ic-quick01-50.png) no-repeat 0 0/100%;background-size:20px;}
.quick-open ul:first-child li a{font-weight: 500;font-size: 14px;color: #fff;line-height: 18px;padding: 0 10px;text-align: center;}

.quick-open ul:last-child{background-color:#f8f2ee;background-color: #f8f2ee;padding: 8px 0;;border-radius: 0 0 0 15px;}
.quick-open ul:last-child li{padding:0px 0 25px 0px;}
.quick-open ul:last-child li:last-child{padding:0;text-align: center;}
.quick-open ul:last-child li a{display: inline-block;line-height: 34px;font-size: 15px;font-weight:700;}
.quick-open ul:last-child li:nth-of-type(1) a{background:url(/_res/ko/img/common/bg-quick02.png) no-repeat 14px 0;}
.quick-open ul:last-child li:nth-of-type(2) a{background:url(/_res/ko/img/common/bg-quick03.png) no-repeat 14px 0;}
.quick-open ul:last-child li:nth-of-type(3) a{background:url(/_res/ko/img/common/bg-quick04.png) no-repeat 14px 0;}
.quick-open ul:last-child li:nth-of-type(4) a{background:url(/_res/ko/img/common/bg-quick05.png) no-repeat 14px 0;}

.mm-quick-menu-wrap {position: fixed;top: 153px;right: 0;z-index: 30;}
.header-wrap.active + .quick-menu-wrap + .mm-quick-menu-wrap{top:137px;}
.mm-quick-menu-wrap .quick-close{text-align:center}
.mm-quick-menu-wrap .quick-close > p{border-radius:10px 0 0 0;text-align: center;padding: 50px 15px;background-color:#002f70;}
.mm-quick-menu-wrap .quick-close > a{padding: 16px 0;background-color:#003d91;display: inline-block;width: 100%;}
.mm-quick-menu-wrap .quick-close > ul{background-color:#f8f2ee;padding: 10px 0;border-radius: 0 0 0 10px;}
.mm-quick-menu-wrap .quick-close > ul li{padding:0 0 26px 0;}
.mm-quick-menu-wrap .quick-close > ul li:last-child{padding:0;}
.mm-quick-menu-wrap .quick-close > ul li:last-child a{font-size: 14px;font-weight: 500;display:block;}
.mm-quick-menu-wrap .quick-mobile{display:none;}
.mm-quick-menu-wrap .quick-mobile ul{text-align:right;}
.mm-quick-menu-wrap .quick-mobile ul li{padding:0 0 20px 0;}
.mm-quick-menu-wrap .quick-mobile ul li:after{content:"";display:block;clear:both;}
.mm-quick-menu-wrap .quick-mobile ul li a{float: right;display: table;padding: 0 5px 0 0;}
.mm-quick-menu-wrap .quick-mobile ul li span{display: table-cell;text-align: right;color: #fff;font-weight: 400;padding: 0px 20px 0 0;line-height: 24px;vertical-align: middle;}
.mm-quick-menu-wrap .quick-mobile ul li a img{display: table-cell;}
.mm-quick-menu-wrap .quick-mobile p{text-align: right;}
.pop-total{display: inline-block;padding: 5px 8px 6px;font-size: 14px;font-weight: 500;background-color: #003d91;color: #fff;border-radius: 13px;margin: 10px 0 0 0;}
.quick-open ul li span.pop-total{display: inline-block;padding: 5px 8px 6px;font-size: 14px;font-weight: 500;background-color: #003d91;color: #fff;border-radius: 13px;margin: 0px 0 0 10px;}


.main-body header .quick-outer{display:none}
body:not(.srch) header .quick-outer{display:block}

@media screen and (max-width:1024px) {
	
	/* layout */
	.container{padding:50px 0 0 0;}
	.header-new-wrap{box-shadow: 0px 6px -2px 2px #000000;}

	/* header */
	.top-header-new-box > ul{display:none;}
	.btn-main-cal{display:none;}
	.top-header-new-box .top-btn-new-wrap .btn-menu{display:block;position:relative !important;float:left !important;top:auto;right:auto;}
	.util-bg{display:none !important;}
	.gnb-bg{display:non !important;}
	.util-box-second{display:none}
	.bottom-header-new-box .gnb-new-ul{display:none;}
	.top-header-new-box .top-logo{padding: 13px 20px 12px 10px;}
	.sub-container.ex{margin:0 auto !important;}

	/* 모바일 SM팝업 */
	body:not(.srch) header .quick-outer .quick-menu-wrap{display:none !important;}
	body:not(.srch) header .quick-outer .mm-quick-menu-wrap{display:none !important;}
	.m-btn-pop-wrap{display:block;}
	
	/* 사이트맵 */
	.sitemap-new-wrap{display:none !important;}
	
	/* calendar */
	.pop-calendar{display:none !important;}
}
@media screen and (max-width:800px) {

  /* SM팝업 */
  .main-pop-box .owl-carousel{width:calc(100% - 100px);}
  .main-pop-box .control-wrap{width:calc(100% - 20px);}

}

@media screen and (max-width:640px) {
	
  .main-intro-new-box p:nth-of-type(1){font-size: 34px;text-align: center;line-height: 43px;}

	
	/*검색영역*/
	body:not(.main-body) .main-srch-new-wrap, body.main-body:not(.srch) .main-srch-new-wrap{padding: 28px 30px 45px 38px;box-sizing: border-box;}
	body:not(.srch) #site-search #search-field{padding: 0 10px;box-sizing: border-box;margin: 0 0 10px 0; width: 100%;float: none;height: 48px;}
	body:not(.srch) #site-search button{margin:0;float:none;width: 100%;}
	
	#site-search #search-type{float:none;box-sizing: border-box;float:none}
	#site-search #search-field{padding: 0 10px;box-sizing: border-box;margin: 0 0 10px 0; width: 85%;float: none;height: 48px;}
	#site-search button{margin:0;float:none;width: 85%;}
	#site-search p{padding:20px 0 0 0;}
	#site-search #search-type h2{padding: 0 30px 15px 0;font-weight: 500;width: 100%;display: block;}
	
  /* SM팝업 */
  .btn-pop{top:100px;}
  .main-pop-outer{top:100px;transform: translateY(0%);}
  .main-pop-wrap{padding:50px 0 0 0;}
  .main-pop-box .owl-carousel{width:100%;}
  .main-pop-box .control-wrap{display:none;}
  .main-pop-wrap .main-pop-close{right:10px;top:0px;}
  .main-pop-wrap .main-pop-close img{width:30px;}
  .main-pop-cnt-box{top:0;}
	
  /*사이트 맵*/
  .sitemap-new-box{padding: 50px 15px;}
  .sitemap-new-box > div > ul > li > ul > li{width:100%}
  .sitemap-new-box > div h1{font-size:25px;}
  .sitemap-new-box > div > ul{padding: 20px 10px;}
  .sitemap-new-box > div > ul > li > a{font-size:20px;margin: 0 0 30px 0;}
  .sitemap-new-box > div > ul > li > ul > li a{font-size: 17px;}
  .sitemap-new-box > div > ul > li > ul > li > ul{padding: 5px 0 20px 10px;}
  .sitemap-new-box > div > ul > li > ul{padding: 0 0 0 10px;}
}

/*설문조사*/
.main-intro-wrap{padding:0 15px;}
#survey-app .survey-title .page-header{background-color: #003072;padding-bottom: 0;margin:0;border-radius: 8px;}
#survey-app .survey-title .page-header h1{color: #fff !important;padding: 46px 0 29px 20px;font-weight: 400;font-family: 'Noto Sans KR',sans-serif;}
#survey-app .survey-desc .blockquote-red {padding: 10px 20px 10px 0px;margin: 0;font-size: 16px;border-left:none;}
#survey-app .survey-desc .blockquote-red .ng-binding{padding:5px 0 0 20px;font-family: 'Noto Sans KR',sans-serif;font-weight: 400;}
.alert-danger{color:#333;background-color:#fff;border:none;}
.alert{padding:15px 0;margin: 0 0 20px 0 !important;} 
.alert-danger strong{color:#003072;font-weight:400;font-size:18px;}
#survey-app .survey-desc .form-horizontal{margin:0 0 40px 0;background-color: #f4f4f4;padding: 40px 20px;    border-radius: 8px;}
.panel-body{padding: 15px 15px 35px 15px;}
.panel-default>.panel-heading{font-weight:400;font-size:18px;}
.icheckbox_square-red, .iradio_square-red{vertical-align:top !important}
.radio label, .checkbox label{font-size: 18px;padding: 3px 0 0 10px;display: inline-block;}
.panel-default{background-color:#f4f4f4}
.survey-desc div.ng-binding{padding:0px 0 20px 20px;line-height: 26px;font-size: 18px;font-weight: 400;color: #333;}
.btn_list{float:none !important;}
/*.icheckbox_square-red, .iradio_square-red{background: url(blue.png) no-repeat !important;}*/